.indicator {
  --remainder-color: theme('colors.warning-400');
  @apply relative after:content-[''];

  &:after {
    width: var(--remainder-width);
    left: var(--remainder-left);
    will-change: width;
    background-color: var(--remainder-color);
    @apply duration-500 transition-width block absolute top-0 h-full rounded-lg rounded-l-none;
  }
}

.insufficientRemainder {
  --remainder-color: theme('colors.danger-400');
  @apply !rounded-r-none;
}

.dragged {
  @apply !text-foreground-500 !opacity-100 stroke-foreground-500;
}
